.u-flex {
  display: flex;
}

.u-widget {
  margin: 0 2em;
  overflow-y: auto;
}

.u-legend {
  font-size: 0.9rem;
  font-family: "Noto Serif";
  font-style: italic;
  margin: 0 0 0.33em 0;
  color: #868e96;
}
