/*
  These are global, default styles.
*/

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h3,h4 {
  margin: 0;
}

svg[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.text-xs {
  font-size: 12px;
}
.text-sm {
  font-size: 14px;
}
.text-md {
  font-size: 16px;
}
.text-lg {
  font-size: 20px;
}
.text-xl {
  font-size: 24px;
}

.text-width-narrow {
  max-width: 20em;
}
.text-width-normal {
  max-width: 30em;
}
.text-width-wide {
  max-width: 40em;
}
.text-width-full {
  max-width: 100%;
}

.u-flex {
  display: flex;
}

.u-widget {
  margin: 0 2em;
  max-height: 17em;
  overflow-y: auto;
}

.main-layout .u-widget {
  max-height: none;
}

.u-legend {
  font-size: 0.9rem;
  font-family: "Noto Serif";
  font-style: italic;
  margin: 0 0 0.33em 0;
  color: #868e96;
}
