@import 'reset';
@import 'utilities';
@import 'variables';

svg[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.text-xs {
  font-size: 12px;
}
.text-sm {
  font-size: 14px;
}
.text-md {
  font-size: 16px;
}
.text-lg {
  font-size: 20px;
}
.text-xl {
  font-size: 24px;
}

.text-width-narrow {
  max-width: 20em;
}
.text-width-normal {
  max-width: 30em;
}
.text-width-wide {
  max-width: 40em;
}
.text-width-full {
  max-width: 100%;
}

.u-flex {
  display: flex;
}

.u-grid {
  display: grid;
}

.u-widget {
  margin: 0 2em;
  overflow-y: auto;
}

.u-legend {
  font-size: 0.9rem;
  font-family: "Noto Serif";
  font-style: italic;
  margin: 0 0 0.33em 0;
  color: #868e96;
}
